@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;800;900&display=swap');
body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #F2F3F7;
    font-family: 'Maven Pro', sans-serif;
    color: #222222;
}

.App{
    width: 100vw;
    height: 100vh;
}

.container{
    padding: 0 30px;
    /* height: 90vh; */
    background-color: #F2F3F7;
    margin-left: 18.750em;
    transition: margin-left .2s ease-in;
}

.container.mobile{
    margin-left: 6.250em;
}
