hr{
    margin: 1.5em 0;
    border: 0; border-top: 1px solid #CDDAF3;
}

p{
    margin: 0.5em 1em;
}

h4{
    margin: 0.5em 0;
}

.report-categories{
    display: flex
}

.report-categories p {
    margin: 0 1em;
}

.categories-container{
    width: 230px;
    padding: 1.5em;
    border-radius: 25px;
    background-color: white;
    /* border: 1px solid black; */
}

.categories-container:hover{
    /* border: none; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}

.grid-categories{
    padding-top: 3em;
}

.categories-color{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: -45px;
    left: 15px;
    background-color: cadetblue;
    margin-bottom: -40px;
}

.categories-footer{
    display: flex;
    justify-content: space-between;
}



/* Category Task CSS */
.categoryTask-header{
    display: flex;
    justify-content: space-between;
    padding: 0 0 1em 1em;
    border-bottom: 1px solid #CDDAF3;
}

.header-content> p{
    margin: 0;
}

.categoryTask-content{
    padding: 1em;
}

.btn-addNewCategoryTask, .btn-deleteCategory{
    border: none;
    outline: none;
    color: #0a0a0a;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    float: right;
    padding: 0;
}

.btn-addNewCategoryTask{
    background-color: #3ca36f;   
    left: -60px;
    top: -32px;
    width: 40px;
    height: 40px;
    margin-bottom: -2.2em;
}

.btn-addNewCategoryTask:hover{
    background-color: #368d61;
}

.btn-deleteCategory{
    color: #ed553b;
    background-color: white;
    width: 30px;
    height: 30px;
    /* left: 15px; */
}

.btn-deleteCategory:hover{
    color: #ce4831;
}