/* .dashboard-container{
    padding: 0 30px;
    background-color: #FAFBFD;
    margin-left: 300px;
} */

.header{
    padding: 30px 0;
}

.today-content{
    /* display: flex; */
    /* width: 100%;
    height: 100%; */
    padding-bottom: 50px;
}
.layout-padding{
    padding-right: 16px;
}


.weekly-pinned-container{
    width: 100%;
    max-width: 750px;

}

h1, h2, h5{
    margin: 0;
    display: inline-block;
}

h5{
    line-height: 37.6px;
    float: right;
}
h2{
    line-height: 37.6px;
}

form{
    /* width: 100%;
    height: 40px; */
    margin: 20px 0;
    display: flex;
}

form button{
    /* flex: 4; */
    border: none;
    outline: none;
    margin: 0 5px;
}

#btn-addNew{
    /* flex: 1; */
    border: none;
    outline: none;
    background-color: #ffd261;
    color: #0a0a0a;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: -45px;
    float: right;
}

#btn-addNew:hover{
    background-color: rgb(250, 208, 101);
}


/* ul li{
    list-style: none;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 10px 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* ul li .active{
    opacity: 0.5;
    text-decoration: line-through;
} */

.btn-edit, .btn-update, .footer-row button{
    border: none;
    outline: none;
    color: white;
    background-color: orange;
    padding: 5px 15px;
    cursor: pointer;
}

.btn-edit:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-edit:hover{
    background-color: rgba(255, 166, 0, 0.897);
}

.btn-update{
    background-color: rgba(14, 109, 14, 0.863);
}
.btn-update:hover{
    background-color: rgba(10, 85, 10, 0.863);
}

.task_container{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 10px 10px 5px;
}

.task_container .active{
    opacity: 0.5;
    text-decoration: line-through;
}


.footer-row button{
    background-color: crimson;
}

.footer-row button:hover{
    background-color: rgb(185, 19, 53);
}

.footer-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.footer-row p{
    margin: 0;
}

label{
    cursor: pointer;
}